.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 840px;
    width: 100%;
    background-color: var(--text-bg);
    padding: 16px;
    border-radius: 16px;
    /* border: 8px solid var(--main-blue); */
}

h1{
    align-self: center;
}

h2,h3,h4{
    color: var(--pink-text);
    font-weight: bold;
}

p{
    margin-bottom: 2em;
    text-justify:auto;
}
strong{
    color: var(--white-text-highlight);
}

.image_set{
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 100%;
    flex-wrap: wrap;
}

.image_set > img{
    width: auto;
    max-width: 360px;
    padding: 1em;
}

.work-together-button{
    margin: 32px;
    text-decoration: none;
}

.button-content{
    /* display: flex;
    align-items: center; */

    font-size: 2em;
    letter-spacing: 0.3vw;
    
    color: var(--white-text);
    border-bottom: 4px solid var(--white-text);
    transition-duration: 0.2s;
    & img{
        position: relative;
        bottom: -0.2em;

        height: 1em;
        /* Text doesn't have margin, so underline it's bigger  */
        margin: 0 16px 0 6px;
    }
}

.button-content:hover{
    border-bottom: 8px solid var(--main-blue);
    color: aliceblue;
    transition-duration: 0.2s;
}