.project_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_list > h2,h3{
    width: min(1024px,100%);
    margin: 1em 0 0.8em 0;
}

.game_grid{
    display: grid;

    grid-template-columns: repeat( auto-fill, /* minmax(315px,1fr) */ 315px);
    gap: 32px;
    justify-content: center;

    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    /*transform: rotate(-2deg);*/
}

.game_cell{
    max-width: 315px;
    margin: 0 auto;
    width: auto;
    height: auto;
}

.cell_data{
    margin: 8px 0;
}

.cell_title {
    color: var(--links);
    font-size: large;
    font-weight: 700;
    margin: 8px 0;
    text-decoration: none;
}

.cell_description {
    color: var(--pink-text);
}

.cell_thumbnail > a > img{
    border-radius: 16px;
    object-fit: cover;
    transition-duration: 0.2s;
}

.game_cell:hover img{
    transform: translate(-8px, -8px);
    transition-duration: 0.2s;
    box-shadow: 8px 8px 0 0 var(--main-pink);
}
.game_cell:nth-child(even):hover img{
    box-shadow: 8px 8px 0 0 var(--main-blue);
}