.project{
    background-color: var(--text-bg);
    padding: 48px;
    border-radius: 16px;
    /* border: 8px solid var(--main-blue); */
}

h2,h3,h4{
    color: var(--pink-text);
}

strong{
    color: var(--white-text-highlight);
}

.banner{
    height: 256px;
}

.banner > img{
    width: calc(100% + 64px);
    height: 256px;
    
    object-fit: cover;

    position: absolute;

    top: -32px;
    left: -32px;

    /*background-image:
    linear-gradient(
        to bottom,
        transparent,
    ), url(../img/captura_rotato.png);*/
}

#job-tags{
    margin-bottom: 32px;
    & * {
        display: inline;
        margin-right: 16px;
    }
    & li{
        display: inline-block;
        padding: 0.2em 0.6em;
        background-color: var(--blue-transparent);
        color: var(--links);
        border-radius: 1.2em;  
        margin: 4px;  
    }
}



.content{
    display: flex;
    justify-content: center;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 840px;
}

#cover{
    width: 256px;
    aspect-ratio: 300/450;

    object-fit: cover;

    position: relative;
    /* top: 2.2em; */
    float: right;
    clear: right;

    border-radius: 8px;
    margin-left: 16px;
    margin-bottom: 16px;
}

/* Elements inside {{ content }} */

.about_project_text p, .about_project_text li {
    margin-right: 16px;

    margin-bottom: 1em;
    text-justify:auto;
}

.about_project_text img{
    margin: 16px 0;
    border-radius: 8px;
}

.image_set{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    left: -16px;
}

.image_set img{
    height: 256px;
    max-width: 384px;
    margin: 16px;
    /* height: calc(100% - 32px); */
    object-fit: cover;
}
.project > h1{
    margin-bottom: 32px;
}

@media (width < 560px){
    #cover{
        float: none;
        clear: none;
    }
}
